.rg1-1 {
    min-width: 80%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.rg1-2{
    text-align: center;
}

.rg1-2 span {
    font-weight: bold;
    color: violet;
    font-size: x-large;
}

#rg1-3 {
    background-color: #00ced1;
    border-radius: 10px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#rg1-3 span {
    font-size: x-large;
    color: white;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.rg1-4 {
    margin-top: 15px;
    padding: 10px;
    display: grid;
    grid-template-columns: 30% 45% 15% 10%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#rg1-4-1 {
    font-weight: bold;
}

#rg1-5 {
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
}

#rg-4-3 {
    background: #FFFFFF;
    border: 0 solid #E2E8F0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    color: #1A202C;
    font-size: 1rem;
    font-weight: 700;
    height: 40px;
    overflow-wrap: break-word;
    width: auto;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

@media screen and (max-width: 768px) {
    .rg1-4 {
        padding: 10px;
        display: grid;
        grid-template-columns: 100%;
    }
    .rg1-4-div{
        padding: 10px;
    }
}