.details_container {
  width: 100%;
}
.details {
  display: grid;
  grid-template-columns: 40% 40% ;
  margin: 10px;
  align-items: center;
  justify-content: center;
}
.detail_title {
  margin: 10px;
  padding: 10px;
  font-size: 18px;
}
.detail_shorthand {
  width: 100%;
  display: grid;
  grid-template-columns: 32% 32% 32%;
}
.shorthand {
  background: #f7f7f7;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  display: flex;
}
.shorthand_icon {
  width: 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shorthand_text {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.shorthand_title {
  font-weight: bold;
}
.shorthand_detail {
  font-size: 14px;
  font-style: italic;
  color: #999;
}
.detail_image {
  width: 100%;
}
.detail_image > img {
  width: 100%;
  border-radius: 20px;
}
.detail_description {
  width: 100%;
}
.description_title {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.description_title > span{
  margin: 10px;
}
.description_register{
  margin-left: 20px;
}
.description_register > button{
  width: 100%;
  height: 40px; border: none;
  padding: 7px 20px;
  border-radius: 10px;
  font-size: 1.2rem;
  background-image: linear-gradient(43deg, hsla(340,100%,76%,1) 0%, hsla(269,100%,77%,1) 100%);
  color: white;
  font-weight: 600;
}
.description_register > button:hover{
  transform: scale(1.1);
  transition: 0.5s ease-out;
}
.detail_desc {
  margin-left: 35px;
  font-style: italic;
}
.detail_location {
  margin-left: 20px;
  margin-top: 40px;
}
.location_title {
  margin: 10px;
}
.location_details {
  padding:10px;
  border-radius:10px;
  background: #f7f7f7;
}
.association_heading {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
}
.heading_in {
  margin-right: 10px;
}
.heading {
  font-weight: bold;
}
.event_address {
  border-top: 1px solid #000;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}
.address_in {
  display: flex;
  align-items: center;
  margin: 10px;
}
.address_arrow {
  /* color: gold; */
  margin-right: 10px;
}
.schedule_details {
  margin-top: 10px;
  padding: 10px;
  border-bottom: 1px solid #000;
}
.schedule_in {
  display: flex;
  align-items: center;
}
.schedule_date {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 20px;
}
.schedule_date > p {
  color: #000;
}
.event_share {
  padding: 14px;
  border-bottom: 2px solid #000;
}
.event_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

@media screen and (max-width: 760px) {
  .details {
    display: flex;
    flex-direction: column;
  }
  .detail_shorthand {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .detail_location{
    width: 100%;
    margin: 0px;
  }
}
