.about_container {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;

}

.about_description {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_description>p {
    text-align: justify;
    color: black;
}

.about_logo {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.about_logo>img {
    width: 300px;
    border-radius: 100%;
}

@media screen and (max-width: 768px) {
    .about_container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .about_logo>img {
        width: 200px;
        border-radius: 100%;
    }
}