.e_form_container{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.e_form_container > input{
    padding-left: 10px;
    height: 35px;
    border: 1px solid #999;
    border-radius: 6px;
}
.e_form_container > label{
    font-size: 12px;
    color: #666;
    padding-left: 10px;
}
.e_form_container > input::placeholder{
    font-weight: bold;
    color: #111;
}