.committee_title{
    width: 100%;
    margin: 20px 0px 20px 0px;
    display: flex;
    justify-content: center;
}
.committee_title > h1{
    color: black;
    font-size: 28px;
    border-bottom: 2px solid black;
}
.committe_cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}