.committee_title {
    position: relative;
    padding: 0;
    color: black;
    margin-top: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: xx-large;
}

.committe_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .committee_title{
        font-size: large;
    }
}