.header{
    background-color: rgba(0, 0,0,0.85);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: sticky;
    top: 0;
    width: 100%;
    height: 90px;
    z-index: 10;
    margin-bottom: 20px;
    border-bottom: 1px solid #ff0066;
}
.header_bg{
    background-color: rgba(0, 0,0,0.85);
    transition: 0.5s;
}
.nav_menu{
   display: flex; 
}

.nav_menu li{
    padding: 0 1rem;
}
.nav_menu li a{
    font-size: medium;
    font-weight: 500;
    transition: all 0.5s
}
.nav_menu li a:hover{
    opacity: 1;
    color: #ff0066;
}
.nav_menu li a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: all 0.45s;
}
.nav_menu li a:hover::before{
    background-color: black;
    height: 2px;
    width: 80%;
    background-color: #ff0066;
    position: absolute;
    bottom: -3px;
    left: 1px;
}
.hamburger{
    display: none;
    color: #ffffff;
}

@media screen and (max-width: 1040px) {
    .nav_menu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 0;
        left: -100%;
        z-index: -3;
        transition: 0.3s;
    }
    .nav_menu.active{
        left: 0;
    }
    .nav_menu li{
        padding: 1rem 0;
    }
    .nav_menu li a{
        font-size: medium;

    }
    .hamburger{
        display: initial;
    }
    
}