.mem_form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.full_mem,
.ass_mem{
    border: 1px solid #999;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 35px;
    padding: 10px;
    margin-right: 10px;
    margin-top: 10px;
    width: 220px;
    margin-bottom: 10px;
}
.full_mem > label > input,
.ass_mem > label > input{
    margin: 10px;
}

@media screen and (max-width: 760px){
    .mem_form{
        display: flex;
        flex-direction: column;
    }
}