.banner-main {
    display: flex;
    flex-direction: column;
    /* Display "Affiliated to" and cultura-container in a column */
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.cultura-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cultura {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cultura img {
    max-width: 500px;
    height: 100px;
}

@media screen and (max-width: 768px) {
    .banner-main {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .cultura-container {
        max-width: 90%;
        width: 80%;
        height: 100px;
    }

    .cultura img {
        max-width: 90%;
    }
}