.address_form_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.addr_street{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.addr_street1{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.addr_street1 > input{
    padding-left: 10px;
    height: 35px;
    border-radius: 6px;
    border: 1px solid #999;
}
.addr_street1 > label{
    padding-left: 10px;
    color: #666;
}
.addr_sub{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.addr_sub > div{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.addr_sub1 > input{
    padding-left: 10px;
    height: 35px;
    border-radius: 6px;
    border: 1px solid #999;
    margin: 2px 10px 0px 0px;
}
.addr_sub2 > input{
    padding-left: 10px;
    height: 35px;
    border-radius: 6px;
    border: 1px solid #999;
    margin: 2px 0px 0px 0px;
}
.addr_sub1 > label,
.addr_sub2 > label{
    color: #666;
    padding: 0px 10px;
}
.addr_button{
  width: 100%;
  background: blue;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
}
.addr_button > button {
  width: 100px;
  background: transparent;
  color: white;
  height: 100%;
  border: 0px;
  font-size: 16px;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px){
    .addr_sub{
        display: flex;
        flex-direction: column;
    }
    .addr_sub > div{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .addr_sub1 > input{
        margin-right: 0px;
    }
}