.membership_form>h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.membership_container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFEFBA;
  background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);
  background: linear-gradient(to right, #FFFFFF, #FFEFBA);
  opacity: 1;
  padding: 10px;
}

.membership_form {
  width: 70%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}


.formInput {
  padding: 10px;
  margin: 10px;
  height: 35px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #ccc;
}

.contactMethod,
.familyDetails {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;

}

.mandatory {
  color: red;
}

.applicantInfo {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 35% 30% 35%;
  justify-content: space-between;
}

.address{
  margin-bottom: 10px;
}

.contactMethod{
  margin-bottom: 10px;
}

.contactMethod>label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.address1 {
  display: grid;
}

.address2 {
  display: grid;
  grid-template-columns: 50% 50%;
}

.phone {
  display: grid;
  grid-template-columns: 20% 80%;
  margin-bottom: 10px;
}

.email {
  display: grid;
  margin-bottom: 10px;
}

.gender {
  display: grid;
  grid-template-columns: 50% 50%;
}

.radioInput {
  margin: 10px;
  appearance: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.radioInput:checked {
  background-color: #2196F3;
  border-color: #2196F3;
}

.radioInput:focus {
  outline: none;
}

.radioInput+label {
  font-size: small;
  margin-bottom: 5px;
}

.gender>label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.radioInput:checked+label {
  font-weight: bold;
  color: #2196F3;
}

.accountDetails {
  color: gray;
}

.mFeeDetails {
  margin: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: space-between;
}

.mButton {
  border-color: blue;
  height: 40px;
  width: 100%;
  border-width: 1px;
  border-radius: 5px;
  background-color: aliceblue;
}

.submitButton {
  width: 100%;
  height: 35px;
  background-color: black;
  color: white;
  border-radius: 10px;
  font-size: large;
}
.policyDetails{
  padding: 10px;
}
.policyDetails1{
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .membership_form {
    width: 100%;
    padding: 10px;
  }

  .applicantInfo {
    grid-template-columns: 100%;
  }

  .address2 {
    grid-template-columns: 100%;
  }

  .phone {
    grid-template-columns: 100%;
  }

  .gender {
    grid-template-columns: 100%;
  }

  .mFeeDetails {
    grid-template-columns: 100%;
  }
}