.footer {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  background-color: rgba(19, 19, 19, 0.1);
  font-family: "Quicksand", sans-serif;
  color: black;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.1)
}

.footer_container {
  max-width: 1140px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* gap: 40px; */
}

.footer_section {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.location {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
}

.location p {
  line-height: 30px;
  padding-left: 10px;
}

.social {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}

h4 {
  font-size: 20px;
  padding-bottom: 0.7rem;
}

a {
  /* color: #ffffff; */
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 640px) {
  .footer_container {
    flex-direction: column;
    align-items: center;
  }

  .footer_section {
    margin-bottom: 20px;
  }

  .footer_section:last-child {
    margin-bottom: 0;
  }
}
