* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #FAF9F6;
  color: #000;
}

@font-face {
  font-family: 'Rowdies';
  src: url('./assets/fonts/Rowdies/Rowdies-Regular.ttf') format('truetype');
  ;
}

@font-face {
  font-family: 'Lilita_One';
  src: url('./assets/fonts/Lilita_One/LilitaOne-Regular.ttf') format('truetype');
  ;
}

@font-face {
  font-family: 'DM_Serif_Display';
  src: url('./assets/fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf') format('truetype');
  ;
}


/* h1,
h4,
p,
a {
  color: #fff;
  text-decoration: none;
} */

ul {
  list-style: none;
}