.form-container {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-header h2 {
    margin-right: 10px;
}

.form-content {
    padding: 10px;
}

.form-input {
    margin-bottom: 10px;
}

.form-input span {
    display: block;
    margin-bottom: 5px;
}

.form-input input,
.form-input textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.form-buttons button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #2196f3;
    color: #ffffff;
    cursor: pointer;
}

.add-tickets-div{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.display-tickets{
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    background-color: aliceblue;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.form-1 {
    background-color: white;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}