.form_container {
  width: 100%;
}
.form_part_one {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.form_name > label {
  display: flex;
  flex-direction: column;
  font-size: small;
  margin: 10px 0px 0px 15px;
}
.form_name > input{
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 15px;
  width: 90%;
  height: 30px;
  border: 1px solid #888;
  border-radius: 4px;
}
.form_name > span{
  color: red;
  font-size: x-small;
  margin: 20px;
}
.form_address {
  display: flex;
  flex-direction: column;
  font-size: small;
  margin: 10px 0px 0px 15px;
}
.form_address > span{
  color: red;
  font-size: x-small;
  margin: 4px 0px 0px 0px;
}
.form_address > input{
  width: 96.8%;
  height: 30px;
  border: 1px solid #888;
  border-radius: 4px;
}
input::placeholder{
  padding: 0px 0px 0px 10px;
}
.form_submit{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0px 20px 0px;
}
.form_submit > input{
  width: 50%;
  height: 30px;
  border: 1px solid navy;
  background: transparent;
  border-radius: 4px;
}
.form_submit > input:hover{
  background-color: navy;
  color: aliceblue;
}

@media screen and (max-width: 768px){
  .form_container {
    width: 100%;
  }
  .form_part_one {
    display: flex;
    flex-direction: column;
  }
  .form_name > label {
    display: flex;
    flex-direction: column;
    font-size: small;
    margin: 10px 0px 0px 15px;
  }
  .form_name > input{
    width: 85%;
    height: 30px;
  }
  .form_address > input{
    width: 88%;
  }
}