.age_form_container{
    width: 100%;
    margin: 20px;
}
.age_form_container > input{
    width: 90%;
    height: 35px;
    border-radius: 6px;
    border: 1px solid #999;
    padding-left: 10px;
}
.age_form_container > input::placeholder{
    padding-left: 10px;
}