.email_form{
    display: flex;
}
.email_con{
    width: 60%;
    margin: 0px 0px 0px 20px ;
    display: flex;
    flex-direction: column;
}
.email_con > input{
    height: 35px;
    width: 360px;
    border: 1px solid #999;
    border-radius: 6px;
    padding-left: 10px;
    margin-right: 10px;
}
.email_con > label{
    padding-left: 10px;
    color: #666;
}
.verify{
    display: flex;
    justify-content: center;
    margin-left: 10px;
}
.verify > button{
    height: 35px;
    width: 200px;
    background: blue;
    color: white;
    border: none;
    border-radius: 6px;
}
@media screen and (max-width: 768px){
    .email_form{
        display: flex;
        flex-direction: column;
    }
    .email_con{
        width: 100%;
    }
    .email_con > input{
        width: 280px;
    }
    .verify{
        width: 100%;
        margin-bottom: 10px;
    }
}
